@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* styles.css (or any other name you prefer) */

@layer utilities {
    .custom-container {
        max-width: 1410px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .custom-font {
        color: #225487;
    }
}




:root {
    --primary-color: #1d70ba;
    --primary-text: #225487;
    --primary-font: 'Roboto', sans-serif;
    /* input  */
    --input-color: rgb(85, 85, 85);
    --input-font-size: 14px
}

body {
    font-family: var(--primary-font);
    overflow-x: hidden;
}


/* Other styles can go here */



/* main logo  */

.main-logo {
    filter: invert(1) brightness(7.5);
}







select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add custom arrow */
    background-image: url('path_to_custom_arrow_icon.svg');
    background-position: right center;
    background-repeat: no-repeat;
    /* Adjust padding to make space for the arrow */
    padding-right: 20px;
    /* Adjust the value as needed */
}


.center-option {
    text-align: center;
}








#goToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
}

#goToTopButton.show {
    display: block;
}

.dropdown-div {
    transition: top 0.3s ease;
    /* Adjust the transition duration as needed */
}

.fixed {
    position: fixed;
    left: 0;
    right: 0;
}



.navbar-main {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

.dropdown-div2 {
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 500;
    /* font-family: "Noto Sans", sans-serif; */

}

.women-colth {
    font-weight: 500;
}

#dropdown-content {
    font-family: "Noto Sans", sans-serif;
}


.header {
    /* background: #fff; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    padding: 15px 20px;
    /* width: 100%; */
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 9;
}

button {
    background: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: 0;
}

.toggle span {
    width: 100%;
    height: 3px;
    background: #555;
    display: block;
    position: relative;
    coursor: pointer;
}

.toggle span:before,
.toggle span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #555;
    transition: all 0.3s ease-out;
}

.toggle span:before {
    top: -8px;
}

.toggle span:after {
    top: 8px;
}

.toggle span.toggle {
    background: transparent;
}

.toggle span.toggle:before {
    top: 0;
    transform: rotate(-45deg);
    background: #4CAF50;

}

.toggle span.toggle:after {
    top: 0;
    transform: rotate(45deg);
    background: #4CAF50;
}

.sidebar {
    background: #fff;
    /* width: 235px; */
    position: absolute;
    top: 0;
    left: -235px;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding-top: 90px;
    transition: all 0.3s ease-out;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    display: block;
}

.sidebar ul li a {
    padding: 8px 15px;
    /* font-size: 16px; */
    /* color: #222; */
    font-family: arial;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
    font-weight: 500;
}

.sidebar ul li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 1px;
    background: #1d1e20;
    /* background-color: #282e36; */
    z-index: -1;
    transition: all 0.3s ease-out;
}

.sidebar ul li a:hover:before {
    width: 100%;
}

.sidebar ul li a:hover {
    /* color: #4CAF50; */
}

.sidebarshow {
    left: 0;
}


.clicked {
    background-color: #2d2e30;
}




.rotate-down {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}



/* Add transition property to smoothly animate height changes */
#dropdownMenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}





.fixed-sidebar {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Adjust z-index as needed */
}




/* card style  */
.text-overlayy {
    opacity: 0;
    /* background-color: var(--primary-color); */
    /* transition: opacity 0.3s ease; */
}

.parent-divv .image-container img {
    /* opacity: 0; */
    transition: opacity 0.5s;
}

.parent-divv:hover .image-container img {
    opacity: 1;

}


/* .parent-divv:hover .cart-items {
    background-color: var(--primary-color);
    color: white;
    transition: 0.5s;

} */

.parent-divv .text-overlayy {
    opacity: 0;
    height: 0;
    transition: opacity 0.3s, width 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

.parent-divv:hover .text-overlayy {
    opacity: 1;
    height: auto;
    /* Allows the height to adjust based on content */
}

.parent-divv:hover .text-overlayy {
    opacity: 1;
    height: 100%;
    width: 50px;
}

.image-container {
    position: relative;
}

/*#################################################
####                                            ####
####          Header     section START           ####
####                                            ####
##################################################  */

.input-nav::placeholder {
    color: var(--input-color);
    font-weight: 400;
}

.navbar-cate {

    border-left: 1px solid #e6dbdb;
    font-weight: 400;

}

.input-nav {
    font-size: var(--input-font-size);
}

.search-name {
    font-weight: 500;
}

.center-option {
    text-align: center;
    color: var(--input-color);
}

#cat {
    color: var(--input-color);
}





/*#################################################
####                                            ####
####          Section section START           ####
####                                            ####
##################################################  */





.parent-divs {
    background-color: #25b0c4;
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);

}

.main-img {
    transition: transform 0.3s ease;
}

.parent-divs:hover .main-img {
    transform: scale(1.1);
    /* Zoom in effect */
}





.section-div-3 {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-div-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/ll.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    transition: transform 0.3s ease;
    /* Transition effect for smooth animation */
}

.section-div-3:hover::before {
    transform: scale(1.1);
    /* Zoom effect on hover */
}


.section-div-4 {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-div-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/mm.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    transition: transform 0.3s ease;
    /* Transition effect for smooth animation */
}

.section-div-4:hover::before {
    transform: scale(1.1);
    /* Zoom effect on hover */
}

.section-divvv {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-divvv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/1.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    transition: transform 0.3s ease;
    /* Transition effect for smooth animation */
}

.section-divvv:hover::before {
    transform: scale(1.1);
    /* Zoom effect on hover */
}

.section-div-6 {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-div-6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/2.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    transition: transform 0.3s ease;
    /* Transition effect for smooth animation */
}

.section-div-6:hover::before {
    transform: scale(1.1);
    /* Zoom effect on hover */
}


.section-div-5 {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-div-5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/camera.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    transition: transform 0.3s ease;
    /* Transition effect for smooth animation */
}

.section-div-5:hover::before {
    transform: scale(1.1);
    /* Zoom effect on hover */
}




/* .section-div-3:hover .hr-effect {
    animation: moveBorder 1s linear infinite alternate;
}

@keyframes moveBorder {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
} */




/*#################################################
####                                            ####
####          slider section START           ####
####                                            ####
##################################################  */


.carousel {
    height: 400px;
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 678px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-radius: 13px;
}

.carousel-inner {
    height: 100%;
    /* min-width: 400%; */
    display: flex;
    transition: all ease .5s;
}

.carousel-item {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-item h1 {
    opacity: .5;
}

.carousel-controls .prev {
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('prev.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.carousel-controls .next {
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('next.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.prev:hover,
.next:hover {
    opacity: 1;
}

.carousel-indicators {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.carousel-indicators span {
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    opacity: .5;
    cursor: pointer;
    margin: 3px;
}

.carousel-indicators span.active {
    opacity: 1;
}














/* hdgkljhadskfhkasdkh */


/* @keyframes focus {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.focused {
    animation: focus 1s infinite;
} */


/*#################################################
####                                            ####
####          Dropdown  section START           ####
####                                            ####
##################################################  */




/*#################################################
####                                            ####
####          Trending section START           ####
####                                            ####
##################################################  */


.trending-product {
    font-family: var(--primary-font);

}

.p-name {
    color: #555555;
    font-weight: 500;
}

.price-color {
    color: var(--primary-text);
}


.top-sell-d {
    background-color: #f1f3f7;
}

/*#################################################
####                                            ####
####          Features section START           ####
####                                            ####
##################################################  */

.features-product {
    font-family: var(--primary-font);
}

.abcds {
    font-family: var(--primary-font);
   
}
.hgytfd{
    line-height: 60px;
    font-weight: 700;
}




.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}
/*#################################################
####                                            ####
####          Random   section START           ####
####                                            ####
##################################################  */


.random-section {
    font-family: var(--primary-font);
}

/*#################################################
####                                            ####
####          Best   section START           ####
####                                            ####
##################################################  */


.best-section {
    font-family: var(--primary-font);
}

/*#################################################
####                                            ####
####          New   section START           ####
####                                            ####
##################################################  */


.new-section {
    font-family: var(--primary-font);
}

/*#################################################
####                                            ####
####          recent   section START           ####
####                                            ####
##################################################  */


.recent-section {
    font-family: var(--primary-font);
}

/*#################################################
####                                            ####
####          4 op   section START           ####
####                                            ####
##################################################  */


.four-section {
    font-family: var(--primary-font);
}

/*#################################################
####                                            ####
####          Footer  section START           ####
####                                            ####
##################################################  */


.footer-section {
    font-family: var(--primary-font);
}


.number {
    color: var(--primary-text);

}

.deli-div {
    font-weight: 500;
}

.deli-div2 {
    font-weight: 400;
}















/* img hover  */

.parent-divv .hover-img {
    display: none;
    /* Initially hide the hover image */
    transition: opacity 5s ease, display 5s ease;
    /* Add transition for opacity change and display */


}

.parent-divv:hover .main-img {
    display: none;
    /* Hide the main image on hover */
    transition: opacity 5s ease, display 5s ease;
    /* Add transition for opacity change and display */

}

.parent-divv:hover .hover-img {
    display: block;
    /* Show the hover image on hover */
}



/* img hover  */





/* new product */
.features-link {
    color: #3182ce;
    /* Link color */
    text-decoration: none;
    /* Remove default underline */
    transition: color 0.3s ease;
    /* Smooth transition for color change */
}

.new-div:hover .features-link {
    color: #2c5282;
    /* Color change on hover */
}

.features-link i {
    margin-left: 5px;
    /* Add some space between text and icon */
    transition: transform 0.3s ease;
    /* Smooth transition for transform */
}

.new-div:hover .features-link i {
    transform: translateX(5px);
    /* Move icon 5px to the right on hover */
}

.arrow-btn {
    border: none;
    background: transparent;
    color: #3182ce;
    /* Button color */
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
    /* Smooth transition for color change */
}

.arrow-btn:hover {
    color: #2c5282;
    /* Color change on hover */
}

.arrow-btn i {
    margin-left: 5px;
    /* Add some space between text and icon */
    transition: transform 0.3s ease;
    /* Smooth transition for transform */
}

.arrow-btn:hover i {
    transform: translateX(5px);
    /* Move icon 5px to the right on hover */
}



.border-custom-height {


    border-right: 1px solid rgb(227, 227, 227);
    color: var(--primary-text);

}

.border-custom-heigh {
    color: var(--primary-text);

}






/* ... */


.parent-div {
    position: relative;
    overflow: hidden;
    /* Ensures that the pseudo-element doesn't overflow its container */
}

.parent-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/1.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    transition: transform 0.3s ease;
    /* Transition effect for smooth animation */
}

.parent-div:hover::before {
    transform: scale(1.1);
    /* Zoom effect on hover */
}

.parent-div2 {
    position: relative;
    overflow: hidden;
    /* Ensures that the pseudo-element doesn't overflow its container */
}

.parent-div2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/2.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    transition: transform 0.3s ease;
    /* Transition effect for smooth animation */
}

.parent-div2:hover::before {
    transform: scale(1.1);
    /* Zoom effect on hover */
}



.footer-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
}