@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




@layer utilities {
    .custom-container {
        max-width: 1410px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .custom-font {
        color: #225487;
    }
}



@media only screen and (max-width: 640px) {
    .custom-container {
        max-width: 640px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 1410px) {
    .custom-container {
        max-width: 1410px;

    }
}


:root {
    --primary-color: #1d70ba;
    --primary-text: #225487;
    --primary-font: 'Roboto', sans-serif;
    /* input  */
    --input-color: rgb(85, 85, 85);
    --input-font-size: 14px
}

body {
    font-family: var(--primary-font);
    overflow-x: hidden;
}




.bg-primary {
    background-color: var(--primary-color);
}

.sidebar-main-wrapper {
    background-color: #00000050;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}




.container-div-3 {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 9999;


}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: var(--transition250);
    opacity: 0;
    visibility: hidden;
}

.modal--bg {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.modal__content {
    position: absolute;
    display: grid;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);
    transition: var(--transition250);
}

.modal__content--show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.modal__img {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: var(--dark2);
    cursor: pointer;
    transition: var(--transition250);
    z-index: 3;
}

.modal__close:hover {
    color: var(--red);
}

.modal__right-scrollable {
    overflow-y: auto;
}



.modal__right::-webkit-scrollbar {
    width: 10px;
    visibility: auto;
}


.modal__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-divv .hover-img {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.08);
    position: absolute;
}

.parent-divv:hover .main-img {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.parent-divv:hover .hover-img {
    transition: all 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.parent-divv .hover-img {
    visibility: hidden;
    opacity: 0;
    transition: scale(1.1);

}



























.main-logo {
    filter: invert(1) brightness(7.5);
}



.center-option {
    text-align: center;
}

.hover-menu-wrapper .hover-menu-content {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    top: 90px;
    width: max-content;
}

.hover-menu-wrapper:hover .hover-menu-content {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    top: 80px;

    visibility: visible;
}

.hover-menu-wrapper {
    position: relative;
}




/* #################################################
####                   Go to top                 ####
##################################################   */

#goToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
}

#goToTopButton.show {
    display: block;
}






/* #################################################
####                  Navbar                   ####
##################################################   */





.input-nav::placeholder {
    color: var(--input-color);
    font-weight: 400;
}

.navbar-cate {
    border-left: 1px solid #e6dbdb;
    font-weight: 400;
}

.input-nav {
    font-size: var(--input-font-size);
}

.search-name {
    font-weight: 500;
}

.center-option {
    text-align: center;
    color: var(--input-color);
}

#cat {
    color: var(--input-color);
}





.fixed {
    position: fixed;
    left: 0;
    right: 0;
}

.navbar-main {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

.dropdown-div2 {
    font-family: var(--primary-font);

    align-items: center;

    font-weight: 500;

}

.women-colth {
    font-weight: 500;
}



.invisible {
    display: none;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.header {
    padding: 15px 20px;
    top: 0;
    left: 0;
    z-index: 9;
}

button {
    background: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: 0;
}

.toggle span {
    width: 100%;
    height: 3px;
    background: #555;
    display: block;
    position: relative;
    cursor: pointer;
}

.toggle span:before,
.toggle span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #555;
    transition: all 0.3s ease-out;
}

.toggle span:before {
    top: -8px;
}

.toggle span:after {
    top: 8px;
}

.toggle span.toggle {
    background: transparent;
}

.toggle span.toggle:before {
    top: 0;
    transform: rotate(-45deg);
    background: #4CAF50;
}

.toggle span.toggle:after {
    top: 0;
    transform: rotate(45deg);
    background: #4CAF50;
}

/* .sidebar {
    background: #fff;
     
    top: 0;
    left: -235px;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding-top: 90px;
    transition: all 0.3s ease-out;
}
 */





/* #################################################
####                  Side Bar               ####
##################################################   */





.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    display: block;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.sidebar ul li a {
    padding: 8px 15px;

    font-family: var(--primary-font);
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
    font-weight: 500;
}

/* .sidebar ul li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 1px;
    background: #1d1e20;
    z-index: -1;
    transition: all 0.3s ease-out;
} */

.sidebar ul li a:hover:before {
    width: 100%;
}


.sidebarshow {
    left: 0;
}

.clicked {
    background-color: #2d2e30;
}

.rotate-down {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.dropdown-menu {
    transition: opacity 0.3s ease-in-out;
}

.dropdown-menu.hidden {
    opacity: 0;
    pointer-events: none;
}

.dropdown-menu.visible {
    opacity: 1;
    pointer-events: auto;
}


/* Add transition property to smoothly animate height changes */

#dropdownMenu {
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.fixed-sidebar {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1000;

}



/*#################################################
####                                            ####
####          slider section START           ####
####                                            ####
##################################################  */




.new-carousel .owl-item .img-owl {
    width: 40%;
}










.owl-nav {
    position: absolute;
    top: 50%;
    left: 30px;
    right: 60px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.main-slider {
    position: relative;
}

.main-slider button {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    /* Ensure buttons are above other content */
}

.owl-nav .owl-next .icon-r {
    font-size: 20px;
    color: #6b7280;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: rgb(215, 215, 215);
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-nav .owl-prev .icon-l {
    font-size: 20px;
    color: #6b7280;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: rgb(215, 215, 215);
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-images {
    object-fit: cover;

}

.owl-nav .owl-prev {
    left: 0;
    /* Adjusting the position of the previous button */
}

.owl-nav .owl-next {
    right: 0;
    /* Adjusting the position of the next button */
}



/* #################################################
####                 Home Top Deal               ####
##################################################   */


.top-deal-scrool::-webkit-scrollbar {
    width: 0;
}


.cart-font {
    font-size: 16px;
}














/* .text-overlayy {
    opacity: 0;

} */

/* .parent-divv .image-container img {
    transition: opacity 0.5s;

} */

/* .parent-divv:hover .image-container img {
    opacity: 1;
    transition: opacity 1s, width 1s;

} */
/* .parent-divv:hover .main-img {
    opacity: 1;
    transition: opacity 1s, width 1s;
} */

/* .parent-divv:hover .hover-img {
    opacity: 1;
    transition: opacity 1s, width 1s;
} */


.sidebar-main-wrapper {
    display: none;
}

.parent-divv .text-overlayy {
    opacity: 0;
    right: -20px;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 50px;
    visibility: hidden;
    transition: 0.3s ease-in-out;

}

.parent-divv:hover .text-overlayy {
    opacity: 1;
    right: 0;
    height: auto;
    visibility: visible;
    transition: 0.3s ease-in-out;

}


.image-container {
    position: relative;
}
















/*#################################################
####                                            ####
####          Section section START           ####
####                                            ####
##################################################  */

.parent-divs {
    background-color: #25b0c4;
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
}

.main-img {
    transition: transform 0.3s ease;
}

.parent-divs:hover .main-img {
    transform: scale(1.1);
}

.section-div-3 {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-div-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/ll.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.3s ease;
}

.section-div-3:hover::before {
    transform: scale(1.1);
}

.section-div-4 {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-div-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/mm.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.3s ease;
}

.section-div-4:hover::before {
    transform: scale(1.1);
}

.section-divvv {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-divvv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/1.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.3s ease;
}

.section-divvv:hover::before {
    transform: scale(1.1);
}

@media screen and (max-width: 1224px) {
    .section-divvv::before {
        background-position: right;
    }
}


.section-div-6 {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-div-6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/2.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.3s ease;
}

.section-div-6:hover::before {
    transform: scale(1.1);
}

@media screen and (max-width: 1220px) {
    .section-div-6::before {
        background-position: right;
    }
}


.section-div-5 {
    position: relative;
    overflow: hidden;
    font-family: var(--primary-font);
    font-weight: 700;
}

.section-div-5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/camera.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.3s ease;
}

.section-div-5:hover::before {
    transform: scale(1.1);
}



/*#################################################
####                                            ####
####          Trending section START           ####
####                                            ####
##################################################  */









/*#################################################
####                                            ####
####          New section START           ####
####                                            ####
##################################################  */

.features-link {
    color: #3182ce;
    text-decoration: none;
    transition: color 0.3s ease;
}

.new-div:hover .features-link {
    color: #2c5282;
}

.features-link i {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.new-div:hover .features-link i {
    transform: translateX(5px);
}

.arrow-btn {
    border: none;
    background: transparent;
    color: #3182ce;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.arrow-btn:hover {
    color: #2c5282;
}

.arrow-btn i {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.arrow-btn:hover i {
    transform: translateX(5px);
}

.border-custom-height {
    color: var(--primary-text);
}

.border-custom-heigh {
    color: var(--primary-text);
}




.trending-product {
    font-family: var(--primary-font);
}

.p-name {
    color: #555555;
    font-weight: 500;
    font-size: 16px;
}

.p-name:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

.price-color {
    color: var(--primary-text);
}

.top-sell-d {
    background-color: #f1f3f7;
}




/*#################################################
####                                            ####
####          Features section START           ####
####                                            ####
##################################################  */



.features-product {
    font-family: var(--primary-font);
}

.abcds {
    font-family: var(--primary-font);
}

.hgytfd {
    line-height: 60px;
    font-weight: 700;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}



/*#################################################
####                                            ####
####          Random   section START           ####
####                                            ####
##################################################  */

.random-section {
    font-family: var(--primary-font);
}


/*#################################################
####                                            ####
####          Best   section START           ####
####                                            ####
##################################################  */

.best-section {
    font-family: var(--primary-font);
}


/*#################################################
####                                            ####
####          New   section START           ####
####                                            ####
##################################################  */

.new-section {
    font-family: var(--primary-font);
}


/*#################################################
####                                            ####
####          recent   section START           ####
####                                            ####
##################################################  */

.recent-section {
    font-family: var(--primary-font);
}


/*#################################################
####                                            ####
####          4 Top   section START           ####
####                                            ####
##################################################  */

.four-section {
    font-family: var(--primary-font);
}


/*#################################################
####                                            ####
####          Footer  section START           ####
####                                            ####
##################################################  */

.footer-section {
    font-family: var(--primary-font);
}

.number {
    color: var(--primary-text);
}

.deli-div {
    font-weight: 500;
}

.deli-div2 {
    font-weight: 400;
}


/*#################################################
####                                            ####
####          Footer  section START           ####
####                                            ####
##################################################  */


/* ... */

.parent-div {
    position: relative;
    overflow: hidden;
    /* Ensures that the pseudo-element doesn't overflow its container */
}

.parent-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/1.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    transition: transform 0.3s ease;
    /* Transition effect for smooth animation */
}

.parent-div:hover::before {
    transform: scale(1.1);
    /* Zoom effect on hover */
}

.parent-div2 {
    position: relative;
    overflow: hidden;
    /* Ensures that the pseudo-element doesn't overflow its container */
}

.parent-div2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/home/2.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    transition: transform 0.3s ease;
    /* Transition effect for smooth animation */
}

.parent-div2:hover::before {
    transform: scale(1.1);
    /* Zoom effect on hover */
}


.footer-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
}

.popup-overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.popup-overlay.active {
    visibility: visible;
    opacity: 1;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .parent-divv .text-overlayy {
        opacity: 1;
        right: 0;
        visibility: visible;
    }
}

@media (max-width: 480px) {
    .sidebar-content {
        width: 100% !important;
    }

    .hover-img {
        display: none;
    }


}

@media (max-width: 1024px) {
    .sidebar-main-wrapper {
        display: block;
    }

    .sidebar-main-wrapper.inactive {
        visibility: hidden;
        opacity: 0;
    }

    .sidebar-main-wrapper.active {
        visibility: visible;
        opacity: 1;
    }

    .sidebar-main-wrapper {
        transition: all 0.3s ease-in-out;
    }

    .sidebar-content {
        transition: all 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    .sidebar-main-wrapper.active .sidebar-content {
        transition: all 0.3s ease-in-out;
        transform: translateX(0%);
    }
}






/*#################################################
####                                            ####
####          Login  section START           ####
####                                            ####
##################################################  */


.login-input:focus {
    border: 0.5px solid #000000;
    /* Set border to 0.5px solid */
    box-shadow: none;
    /* Remove any existing box shadow */
    transition: 0.3s;
}

.login-btn {
    background-color: var(--primary-color);
}

.create-btn {
    border: 1px solid rgb(220, 219, 219);
}








/*#################################################
####                                            ####
####          Rightbar  section START           ####
####                                            ####
##################################################  */





.rightbar-cart::-webkit-scrollbar {
    width: 10px;
    visibility: auto;
}

.rightbar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.rightbar-cart {
    flex: 1;
    overflow-y: auto;
}


.right-bar-div {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    z-index: 9999;
    transition: right 0.3s ease;
}

.cart-open {
    right: 0;
}

.rightbar-content {
    height: 100vh;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}







/*#################################################
####                                            ####
####          Timer  section START           ####
####                                            ####
##################################################  */


/* CSS classes for styling the hours, minutes, and seconds */
.timer-hour {
    color: white;
    padding: 8px;

    font-weight: 700;
    border-radius: 4px;
    margin: 2px;

    background-color: var(--primary-color);
}

.timer-minute {
    color: white;
    padding: 8px;
    font-weight: 700;
    border-radius: 4px;
    margin: 2px;

    background-color: var(--primary-color);
}

.timer-second {
    color: white;
    padding: 8px;
    font-weight: 700;
    border-radius: 4px;
    margin: 2px;

    background-color: var(--primary-color);
}

#timer {
    color: var(--primary-color);
    font-weight: 500;

}




/*#################################################
####                                            ####
####          Toast of cart   section START           ####
####                                            ####
##################################################  */





#toast {
    display: none;
    position: fixed;
    opacity: 1;
    right: 5px;
    top: 5px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    transition: opacity 0.3s ease;
}