:root {
    --primary-color: #225487;
    --secondary-color: #1d70ba;
    --primary-text: #225487;
    --primary-font: 'Roboto', sans-serif;
    /* input  */
    --input-color: rgb(85, 85, 85);
    --input-font-size: 14px
}

.thumbail-div {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}


@media only screen and (max-width:1286px) {
    .thumbail-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:1024px) {
    .thumbail-div {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.thumbail-child {

    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

@media only screen and (max-width:1286px) {
    .thumbail-child {
        display: grid;
        grid-template-columns: 1fr;
    }

    .d-delivery-box {
        margin-top: 30px;
    }

}

@media only screen and (max-width:640px) {
    .thumbail-child {
        display: grid;
        grid-template-columns: 0.9fr;
    }

    .d-delivery-box {
        margin-top: 30px;
    }

}

@media only screen and (max-width:550px) {
    .thumbail-child {
        display: grid;
        grid-template-columns: 0.6fr;
    }

    .d-delivery-box {
        margin-top: 30px;
    }

}

/* @media only screen and (max-width:640px) {
    .thumbail-child {
        display: grid;
        grid-template-columns: 0.7fr;
    }

    .d-delivery-box {
        margin-top: 30px;
    }

} */




/* .d-address .d-name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} */




/*#################################################
####                                            ####
####          Toast of cart   section START           ####
####                                            ####
##################################################  */






#toast {
    display: none;
    position: fixed;
    right: 5px;
    top: 5px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    transform: translateY(-100%);
}

#toast.show {
    display: block;
    animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.splide-container {
    display: flex;
    flex-direction: row;
}

#thumbnail-slider {
    margin-right: 20px;
}

.splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .splide__slide img {
    max-width: 100%;
    max-height: 100%;
} */

.splide__arrow.top {
    top: 20px;
}

.splide__arrow.bottom {
    bottom: 20px;
}


.selected {
    background-color: black;
    color: white;
}


.thumbnail-slider-container {
    height: 300px;
    /* Set your desired height */
    overflow-y: auto;
}

.thumbnail-slider-container::-webkit-scrollbar {
    width: 0;

}

#main-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


@media only screen and (min-width:1024px) {
    #main-slider {
        display: flex;
        align-items: start;
        justify-content: center;
        text-align: center;
    }

}

.tab-content {
    display: none;
    font-weight: 500;


}

.current-tab {
    background-color: var(--primary-color);
    color: white;
    transition: all 0.2s ease-in-out;

}

.inactive-tab {
    background-color: #f3f4f6;
    color: black;
    transition: all 0.3s ease-in-out;

}

.tab-links li {
    cursor: pointer;
}



.reting-div {

    display: grid;
    grid-template-columns: 0.5fr 2fr 0.1fr;
    grid-gap: 12px;
}



.review-btn {
    width: 240px;
    height: 45px;
    /* border: 1px solid black; */
}

.review-btn2 {
    width: 100%;
    height: 40px;
    border: 1px solid black;
}

.most-rev-btn {
    width: 180px;
    height: 45px;
    border: 1px solid rgb(134, 134, 134);
}

@media only screen and (max-width:640px) {
    .most-rev-btn {
        width: 130px;
        height: 30px;
        border: 1px solid rgb(134, 134, 134);
    }

    .most-rev-btn i {
        position: relative;
        left: -10px;
        pointer-events: none;
    }
}

.most-rev-btn i {
    position: relative;
    left: -15px;
    pointer-events: none;
}

.review-btn {
    background-color: var(--primary-color);
    color: white;
    transition: color 0.3s, background-color 0.3s;
}

.review-btn:hover {
    width: 240px;
    height: 45px;
    background-color: var(--secondary-color);
    color: white;
    /* transition: all 0.3s ease-in-out; */
    border: 1px solid var(--primary-color);
}

.review-btn2:hover {
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--primary-color);
}

.center-option {
    text-align: center;
}



.selected-color {
    border-color: #333;
    /* Change border color to desired color */
}


:root {
    --primary: #f0f0f0;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79;
    --theme: var(--primary);
}


.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s;
}

.tab input:checked~.tab__content {
    max-height: 1450px;
}

/* Visual styles */

.tab__label,
.tab__close {
    display: flex;
    color: rgb(68, 68, 68);
    background: var(--theme);
    cursor: pointer;
}

.tab__label {
    justify-content: space-between;
    padding: 10px;
}

.tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}

.tab input:checked+.tab__label::after {
    transform: rotate(270deg);
    margin-right: 8px;
}

.tab__content p {
    margin: 0;
}

.tab__close {
    justify-content: flex-end;
    padding: 5px;
    font-size: 0.75rem;
}

.accordion--radio {
    --theme: var(--secondary);
}




/* .image-viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
} */

/* .image-viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;  
    height: auto;  
    background-color: rgba(0, 0, 0, 0.5);  
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.main-image {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
  
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-size: 24px;
} */


.image-viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust opacity here */
    z-index: 9998;
    display: none;
}




/* .main-img-container{
   
    border-radius: 8px;
    padding: 20px;
}


.demo-trigger {
    display: inline-block;
    width: 100%;
    
}

.detail {
    position: relative;
    width: 100%;
    height: 400px;
    margin-left: 5%;
    float: left;
} */

#cart-value {
    background: var(--secondary-color);
    width: 22px;
    font-size: 12px;
    border-radius: 100%;
    right: -10px;
    top: -10px;
    position: absolute;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-img-container {
    border-radius: 8px;
    padding: 20px;
}

.detail {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    float: left;
}




.lead {
    font-size: 1.5rem;
    font-weight: 300;
}



.image {
    width: 500px;
    /* float: left; */
}

.clear {
    clear: both;
}












.container-div-d {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000a6;
    z-index: 9999;


}

.popup-overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.popup-overlay.active {
    visibility: visible;
    opacity: 1;
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    justify-content: center;
}


.model {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: var(--transition250);
    opacity: 0;
    visibility: hidden;
}

.model--bg {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.model_con {
    position: relative;
    display: grid;
    background-color: white;
    opacity: 1;
    transform: none;
    transition: var(--transition250);
}


.model_con--show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.modal__img {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__right {

    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.modal__right-scrollable {
    overflow-y: auto;
}



.model_con::-webkit-scrollbar {
    width: 10px;
    visibility: auto;
}

.modal__right::-webkit-scrollbar {
    width: 10px;
    visibility: auto;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: var(--dark2);
    cursor: pointer;
    transition: var(--transition250);
    z-index: 3;
}

.modal__close:hover {
    color: var(--red);
}

.modal__right-scrollable {
    overflow-y: auto;
}



.modal__right::-webkit-scrollbar {
    width: 10px;
    visibility: auto;
}


.modal__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-main-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}

@media only screen and (max-width:640px) {
    .review-main-wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0px;
    }

}

.pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 8px;
}

.pagination ul li {
    color: var(--secondary-color);
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    list-style: none;
    height: 40px;
    width: 40px;
    margin: 0 3px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active {
    color: #fff;
    background: var(--secondary-color);
}