:root {
    --primary-color: #225487;
    --secondary-color: #1d70ba;
    --primary-text: #225487;
    --primary-font: 'Roboto', sans-serif;
    /* input  */
    --input-color: rgb(85, 85, 85);
    --input-font-size: 14px
}



.splide-container {
    display: flex;
    flex-direction: row;
}

#thumbnail-slider {
    margin-right: 20px;
}

.splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splide__slide img {
    max-width: 100%;
    max-height: 100%;
}

.splide__arrow.top {
    top: 20px;
}

.splide__arrow.bottom {
    bottom: 20px;
}


.selected {
    background-color: black;
    color: white;
}

.selected-color {}

.thumbnail-slider-container {
    height: 300px;
    /* Set your desired height */
    overflow-y: auto;
}

.thumbnail-slider-container::-webkit-scrollbar {
    width: 0;

}


.tab-content {
    display: none;
    font-weight: 500;


}

.current-tab {
    background-color: var(--primary-color);
    color: white;
    transition: all 0.2s ease-in-out;

}

.inactive-tab {
    background-color: #f3f4f6;
    color: black;
    transition: all 0.3s ease-in-out;

}

.tab-links li {
    cursor: pointer;
}



.reting-div {

    display: grid;
    grid-template-columns: 0.5fr 2fr 0.1fr;
    grid-gap: 12px;
}

.review-btn {
    width: 240px;
    height: 45px;
    border: 1px solid black;
}

.most-rev-btn {
    width: 180px;
    height: 45px;
    border: 1px solid rgb(134, 134, 134);
}

.most-rev-btn i {
    position: relative;
    left: -15px;
    pointer-events: none;
}

.review-btn:hover {
    width: 240px;
    height: 45px;
    background-color: var(--primary-color);
    color: white;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--primary-color);
}

.center-option {
    text-align: center;
}