 .splide-container {
     display: flex;
     flex-direction: row;
 }

 #thumbnail-slider {
     margin-right: 20px;
 }

 .splide__slide {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .splide__slide img {
     max-width: 100%;
     max-height: 100%;
 }

 .splide__arrow.top {
     top: 20px;
 }

 .splide__arrow.bottom {
     bottom: 20px;
 }


 .selected {
     background-color: black;
     color: white;
 }